.header {
  display: flex; justify-content: space-between; align-items: center;
  padding: var(--spacing); background: var(--header-bg);
}
.controls {
  display: flex;
  flex-wrap: wrap;justify-content: center;gap: 5px;
}
.controls button,
.controls select {
  padding: 0.3rem; border-radius: 4px; border: 1px solid var(--text);
  background: var(--cream); cursor: pointer;
}
.controls select { appearance: none; }
.option{
  font-size: 26px;
  font-family: var(--logo-font);
}
